<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <h1 class="text-center"><u>View ToDo</u></h1>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <table class="table text-center">
                        <thead class="text-center">
                          <tr>
                            <th scope="col">UserId</th>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Completed</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of view">
                            <th>{{i.userId}}</th>
                            <td>{{i.id}}</td>
                            <td>{{i.title}}</td>
                            <td>{{i.completed}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
